Process.Client/bin/Debug/Process.Client.exe
Process.Client/bin/Debug/Process.Client.exe.config
Process.Client/bin/Debug/Process.Client.pdb
Process.Client/bin/Debug/Process.Client.vshost.exe.config
Process.Client/bin/Debug/Process.Client.vshost.exe.manifest
Process.Client/bin/Debug/Progress.Client.exe
Process.Client/bin/Debug/Progress.Client.exe.config
Process.Client/bin/Debug/Progress.Client.pdb
Process.Client/bin/Debug/Progress.Client.vshost.exe
Process.Client/bin/Debug/Progress.Client.vshost.exe.config
Process.Client/bin/Debug/Progress.Client.vshost.exe.manifest
Process.Client/bin/Debug/Progress.Core.dll
Process.Client/bin/Debug/Progress.Core.pdb
Process.Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Process.Client/obj/Debug/Process.Client.csproj.FileListAbsolute.txt
Process.Client/obj/Debug/Process.Client.csprojResolveAssemblyReference.cache
Process.Client/obj/Debug/Process.Client.exe
Process.Client/obj/Debug/Process.Client.pdb
Process.Client/obj/Debug/Progress.Client.csproj.FileListAbsolute.txt
Process.Client/obj/Debug/Progress.Client.csprojResolveAssemblyReference.cache
Process.Client/obj/Debug/Progress.Client.exe
Process.Client/obj/Debug/Progress.Client.pdb
Process.Client/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Process.Client/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Process.Client/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Progress.Core/bin/Debug/Progress.Core.dll
Progress.Core/bin/Debug/Progress.Core.pdb
Progress.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Progress.Core/obj/Debug/Progress.Core.csproj.FileListAbsolute.txt
Progress.Core/obj/Debug/Progress.Core.dll
Progress.Core/obj/Debug/Progress.Core.pdb
Progress.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Progress.Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Progress.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Progress/bin/Debug/Progress.Core.dll
Progress/bin/Debug/Progress.Core.exe.config
Progress/bin/Debug/Progress.Core.pdb
Progress/bin/Debug/Progress.Core.vshost.exe.config
Progress/bin/Debug/Progress.exe.config
Progress/bin/Debug/Progress.Server.exe
Progress/bin/Debug/Progress.Server.exe.config
Progress/bin/Debug/Progress.Server.pdb
Progress/bin/Debug/Progress.Server.vshost.exe
Progress/bin/Debug/Progress.Server.vshost.exe.config
Progress/bin/Debug/Progress.Server.vshost.exe.manifest
Progress/bin/Debug/Progress.vshost.exe.config
Progress/bin/Debug/Progress.vshost.exe.manifest
Progress/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Progress/obj/Debug/Progress.Core.csproj.FileListAbsolute.txt
Progress/obj/Debug/Progress.csproj.FileListAbsolute.txt
Progress/obj/Debug/Progress.Server.csproj.FileListAbsolute.txt
Progress/obj/Debug/Progress.Server.csprojResolveAssemblyReference.cache
Progress/obj/Debug/Progress.Server.exe
Progress/obj/Debug/Progress.Server.pdb
Progress/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Progress/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Progress/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Progress.v12.suo
